*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    border: 3px solid #76b3d8;
    width: 220px;
    padding: 10px;
}
.inp{
    width: 205px;
    height: 25px;
    font-size: 16px;
    color:gray;
    text-align: right;

}

table{
    border-spacing: 4px
}

td
{
    width:35px; 
    height:35px;
    border: solid 1px rgb(151, 150, 150);
    background: linear-gradient(#ffffff 10%,  rgb(207, 207, 207));
    text-align: center;
}
td:hover{
    border:1px solid #5790f8;
}

#vvod{
    position:absolute;
    top:27.5px;
    color: black;
    left: 28px;
    font-size: 16px;
} 